<div class="container">
  <header>拉勾网</header>
  <main>
    <div>
      <h3>十秒钟定制职位</h3>
      <button>去登录</button>
    </div>
    <ul>
      <li class="activeable list-item" data-positionid="4718568" data-companyid="91954">
        <img src="//www.lgstatic.com/i/image2/M01/99/FE/CgotOVvEAuSAUFqTAACUGSTrL9Q381.png" class="item-logo">
        <div class="item-desc">
          <h2 class="item-title">微脉</h2>
          <p class="item-info">
            <span class="item-pos">
              售前经理 [ 杭州 ]
            </span>
            <span class="item-salary">15k-25k</span>
          </p>
          <p class="item-time">今天 14:47</p>
        </div>
      </li>
      <li class="activeable list-item" data-positionid="4718568" data-companyid="91954">
        <img src="//www.lgstatic.com/i/image2/M01/99/FE/CgotOVvEAuSAUFqTAACUGSTrL9Q381.png" class="item-logo">
        <div class="item-desc">
          <h2 class="item-title">微脉</h2>
          <p class="item-info">
            <span class="item-pos">
              售前经理 [ 杭州 ]
            </span>
            <span class="item-salary">15k-25k</span>
          </p>
          <p class="item-time">今天 14:47</p>
        </div>
      </li>
      <li class="activeable list-item" data-positionid="4718568" data-companyid="91954">
        <img src="//www.lgstatic.com/i/image2/M01/99/FE/CgotOVvEAuSAUFqTAACUGSTrL9Q381.png" class="item-logo">
        <div class="item-desc">
          <h2 class="item-title">微脉</h2>
          <p class="item-info">
            <span class="item-pos">
              售前经理 [ 杭州 ]
            </span>
            <span class="item-salary">15k-25k</span>
          </p>
          <p class="item-time">今天 14:47</p>
        </div>
      </li>
      <li class="activeable list-item" data-positionid="4718568" data-companyid="91954">
        <img src="//www.lgstatic.com/i/image2/M01/99/FE/CgotOVvEAuSAUFqTAACUGSTrL9Q381.png" class="item-logo">
        <div class="item-desc">
          <h2 class="item-title">微脉</h2>
          <p class="item-info">
            <span class="item-pos">
              售前经理 [ 杭州 ]
            </span>
            <span class="item-salary">15k-25k</span>
          </p>
          <p class="item-time">今天 14:47</p>
        </div>
      </li>
      <li class="activeable list-item" data-positionid="4718568" data-companyid="91954">
        <img src="//www.lgstatic.com/i/image2/M01/99/FE/CgotOVvEAuSAUFqTAACUGSTrL9Q381.png" class="item-logo">
        <div class="item-desc">
          <h2 class="item-title">微脉</h2>
          <p class="item-info">
            <span class="item-pos">
              售前经理 [ 杭州 ]
            </span>
            <span class="item-salary">15k-25k</span>
          </p>
          <p class="item-time">今天 14:47</p>
        </div>
      </li>
      <li class="activeable list-item" data-positionid="4718568" data-companyid="91954">
        <img src="//www.lgstatic.com/i/image2/M01/99/FE/CgotOVvEAuSAUFqTAACUGSTrL9Q381.png" class="item-logo">
        <div class="item-desc">
          <h2 class="item-title">微脉</h2>
          <p class="item-info">
            <span class="item-pos">
              售前经理 [ 杭州 ]
            </span>
            <span class="item-salary">15k-25k</span>
          </p>
          <p class="item-time">今天 14:47</p>
        </div>
      </li>
      <li class="activeable list-item" data-positionid="4718568" data-companyid="91954">
        <img src="//www.lgstatic.com/i/image2/M01/99/FE/CgotOVvEAuSAUFqTAACUGSTrL9Q381.png" class="item-logo">
        <div class="item-desc">
          <h2 class="item-title">微脉</h2>
          <p class="item-info">
            <span class="item-pos">
              售前经理 [ 杭州 ]
            </span>
            <span class="item-salary">15k-25k</span>
          </p>
          <p class="item-time">今天 14:47</p>
        </div>
      </li>
      <li class="activeable list-item" data-positionid="4718568" data-companyid="91954">
        <img src="//www.lgstatic.com/i/image2/M01/99/FE/CgotOVvEAuSAUFqTAACUGSTrL9Q381.png" class="item-logo">
        <div class="item-desc">
          <h2 class="item-title">微脉</h2>
          <p class="item-info">
            <span class="item-pos">
              售前经理 [ 杭州 ]
            </span>
            <span class="item-salary">15k-25k</span>
          </p>
          <p class="item-time">今天 14:47</p>
        </div>
      </li>
      <li class="activeable list-item" data-positionid="4718568" data-companyid="91954">
        <img src="//www.lgstatic.com/i/image2/M01/99/FE/CgotOVvEAuSAUFqTAACUGSTrL9Q381.png" class="item-logo">
        <div class="item-desc">
          <h2 class="item-title">微脉</h2>
          <p class="item-info">
            <span class="item-pos">
              售前经理 [ 杭州 ]
            </span>
            <span class="item-salary">15k-25k</span>
          </p>
          <p class="item-time">今天 14:47</p>
        </div>
      </li>
    </ul>
  </main>
  <nav>
    <ul>
      <li class="active">
        <i class="yo-ico">&#xe6b8;</i>
        <b>职位</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7d5;</i>
        <b>搜索</b>
      </li>
      <li>
        <i class="yo-ico">&#xe7da;</i>
        <b>我的</b>
      </li>
    </ul>
  </nav>
</div>